问题：可以实例化，可以调用load(); 简单来说就是跟别的官方给的loader的调用规范一致  

理解：也就是说封装成类  

官方用法例子1：  
loader = TextLoader(file_path)  
docs = loader.load()  
官方用法例子2：  
loader = PyPDFLoader(file_path)  
docs = loader.load

In [1]:
import os
from langchain_community.document_loaders import TextLoader, JSONLoader, UnstructuredExcelLoader, UnstructuredHTMLLoader, PyPDFLoader
import random

# 封装成类    
class MultiFormatFileLoader:

    def __init__(self, file_path):
        self.file_path = file_path

    def load(self):
        # 获取文件类型
        _, file_type = os.path.splitext(self.file_path)
        file_type = file_type.lower()
        # 不同文件类型传入不同处理函数
        if file_type == ".md" or file_type == ".txt" or file_type == ".csv":
            loader = TextLoader(self.file_path)
        elif file_type == ".json":
            loader = JSONLoader(file_path=self.file_path,jq_schema=".city")
        elif file_type == ".xlsx":
            loader = UnstructuredExcelLoader(self.file_path, mode="elements")
        elif file_type == ".pdf":
            loader = PyPDFLoader(self.file_path)
        elif file_type == ".html":
            loader = UnstructuredHTMLLoader(self.file_path)
        else:
            raise ValueError('Unsupported file format')
        return loader.load()
        
        
# 测试
type_list = ['.md', '.txt', '.csv', '.json', '.xlsx', '.pdf', '.html']
random_choice = random.choice(type_list)
print('测试用例', random_choice, '类型')
MultiFormat_file="./test_load/example"+random_choice

# 实例化
loader = MultiFormatFileLoader(MultiFormat_file)
docs = loader.load()
print(docs[0].page_content) 
print(docs[0].metadata)

测试用例 .csv 类型
Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,35,Chicago

{'source': './test_load/example.csv'}

### 今天任务 
### 熟悉数据库 
掌握使用MySQL命令行工具（mysql）连接数据库。  
学习常用的MySQL命令：SHOW DATABASES;、USE database;、SHOW TABLES; 等。  
理解MySQL的数据类型（如整数、浮动、字符、日期/时间、布尔类型等）。  
创建数据库、删除数据库。  
创建表、删除表、修改表结构。  
插入、更新、删除数据（INSERT、UPDATE、DELETE）。  
查询数据（SELECT、WHERE、ORDER BY、LIMIT）。  
### 了解RAG  
嵌入向量化  
向量存储  
向量检索

## MySQL 
https://www.runoob.com/mysql/mysql-tutorial.html  
安装 初始化数据库 root 用户的初始默认密码备份 TB.qp9A&-sja   

通过命令提示符（以管理员身份）  
    mysql启动 net start mysql  
    mysql关闭 net stop mysql 

登录MYSQL服务器： mysql -u root -p   (用户 root 输入密码登录)  

退出： mysql> EXIT;   
或者使用： mysql> QUIT;   

修改密码 ALTER USER 'root'@'localhost' IDENTIFIED BY '123456';

### 注:  
#### ~每条命令需要分号;结尾   
#### ~命令不区分大小写   


创建数据库, 库名字为 mydatabase

    create database [mydatabase];    

选择要使用的数据库 

    use mydatabase;  

列出所有可用的数据库 

    show database;    

列出所选数据库中的所有表 

    show tables;   

删除数据库   

    drop database mydatabase;  
    drop database if exists mydatabase;    

删除数据表   

    drop table mytable;  
    drop table if exists mytable;   

MySQL的数据类型  
比较常用的
int float double
char varchar text
date time year datetime timestamp

创建数据表   

    create table mytable (  
    -> id INT PRIMARY KEY,  
    -> name VARCHAR(50)  
    -> ) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;  
    
在已经创建好的表格中添加新的列 

    alter table mytable add column city varchar(20);  
    
#### 插入数据到表格中 

insert插入方式1，values后面的值必须与表中的列顺序一致，且类型也要保持一致，没有的值也需要''或NULL

    mysql> insert into mytable (id, name, city)  
        -> values (1, 'yang', 'wuhan'),  
        -> (2, 'A', 'nanjing'),  
        -> (3, 'B', 'chengdu');  
    Query OK, 3 rows affected (0.01 sec)  
    Records: 3  Duplicates: 0  Warnings: 0  

    mysql> insert into mytable  
        -> values (6, 'E', NULL);  
    Query OK, 1 row affected (0.01 sec)  

insert插入方式2：表格名后指出需要加入的列

    insert into mytable (name, city)  
        -> values ('tom', 'hongshan');  

replace 替换插入 通过主键判断，如果存在，替换数据，如果不存在，直接插入

    replace into mytable (id, name ,city) values (1, 'Mary', 'beijing');  

通过主键判断，如果存在，忽略新数据，如果不存在，插入

    mysql> insert ignore into mytable (id, name, city) values (3, 'Lily', 'beijing');  
    Query OK, 0 rows affected, 1 warning (0.00 sec)  

    mysql> insert ignore into mytable (id, name, city) values (8, 'Lily', 'beijing');  
    Query OK, 1 row affected (0.01 sec)

#### 更新数据（UPDATE）
where条件下更新

    update mytable
    set city = 'changsha'
    where id = 5;

直接更新全部

    update mytable
    set city = 'wuhan';
    
#### 删除数据（DELETE）
也可以where条件限制

    mysql> delete from mytable
        -> where id=7;
    Query OK, 1 row affected (0.01 sec)

#### 查询数据（SELECT、WHERE、ORDER BY、LIMIT）

    select * from mytable;   
    select name from mytable;  
    
    select * from mytable where city is not NULL;  
    select * from mytable where id<4;   
    select * from mytable where id<=4;   
    select * from mytable where 1<=id and id<=4;  (1<=id<=4过滤不出)  
    
    select * from mytable order by id desc;  降序排列desc  
    select * from mytable order by name;  默认升序排列  
    
    select * from mytable where city is not NULL limit 3;  限制最多选择3行数据展示  
    select * from mytable where city is not NULL limit 1, 3;  限制最多选择3行数据展示，从第2行开始（偏移量从0开始计数）  
    
    mysql> update mytable
        -> set city = id
        -> where id>4
        -> limit 2;  限制符合where id>4条件的最多两行更新

### RAG 
RAG 检索增强生成 Retrieval Augmented Generation  

通过检索获取相关的知识并将其融入Prompt，让大模型能够参考相应的知识从而给出合理回答。  

完整的RAG应用流程主要包含两个阶段： 
数据准备阶段：数据提取——>文本分割——>向量化（embedding）——>数据入库  
应用阶段：用户提问——>数据检索（召回）——>注入Prompt——>LLM生成答案  

文本、分词、向量化，word to vec的过程
-> 写入数据库
-> 数据相似性检索：计算查询向量与所有存储向量的相似性得分(余弦相似性、欧氏距离、曼哈顿距离等)